.swiper-wrapper {
  flex: 1;
  width: 100%;
}

.swiper-container {
  display: linear;
  linear-orientation: horizontal;
  height: 100%;
}

.swiper-item {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
