# About code owners

# https://help.github.com/en/articles/about-code-owners

* @colinaaa @HuJean

# Ignore lock files

pnpm-lock.yaml

# CSS examples

/api/css @colinaaa @HuJean

# Example packages

/examples @colinaaa @HuJean

