.scroll-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  width: 100%;
}

.scroll {
  height: 100%;
  width: 100%;
  background-color: gainsboro;
}

.scroll-item-title {
  padding: 15px;
  font-weight: bold;
}
