.column {
  display: linear;
  border: 2px rgb(255, 53, 26) solid;
  padding: 5px;
}

.row {
  display: linear;
  linear-direction: row;
  border: 2px rgb(255, 53, 26) solid;
}

.item {
  margin: 5px;
  padding: 5px;
  background: radial-gradient(
    circle at top left,
    rgb(255, 53, 26),
    rgb(0, 235, 235)
  );
}

text {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
