/* =========================
 * Layout
 * ========================= */

.design-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d0d0d;
  gap: 24px;
  padding: 84px;
  padding-left: 48px;
  padding-right: 48px;
}
