.root {
  height: 100%;
}

.fixed_area {
  height: 480px;
  flex-direction: column;
}

.head {
  justify-content: space-around;
  font-size: 1.5em;
}

.text {
  font-size: 0.8em;
}

.row {
  justify-content: space-around;
  margin-top: 3px;
}

.box {
  width: 160px;
  height: 35px;
  margin: 0px 5px;
  background: yellow;
}

.solid {
  border-color: red;
  border-style: solid;
}

.styleDiff0 {
  border-color: red blue blue red;
  border-style: dashed double groove;
}

.styleDiff1 {
  border-color: green red;
  border-style: dotted inset ridge outset;
}

.radiusStyle0 {
  border-radius: 15px;
}

.radiusStyle1 {
  border-top-right-radius: 0px;
  border-top-left-radius: 10px 30px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 35px;
}
