.container {
  background: linear-gradient(120deg, rgb(255, 53, 26), rgb(0, 235, 235));
  border: 10px solid black;
  border-radius: 20px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 8px;
}

.popup-text {
  color: white;
  font-size: 20px;
}
