.intro {
  margin: 30px;
  text-align: center;
}

.border-color {
  border: solid 0.3em gold;
  border-left-color: red;
  border-right-color: blue;
  border-top-color: green;
  border-bottom-color: black;
}
