.container {
  display: grid;
  align-self: center;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 6px;
  gap: 5px;
}

.title {
  font-size: 12px;
  font-weight: 600;
  align-self: center;
  color: linear-gradient(to right, rgb(255, 53, 26), rgb(0, 235, 235));
  font-weight: bold;
}

.item {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: white;
  padding: 3px;
  border-radius: 10px;
  background: radial-gradient(
    circle at top left,
    rgb(255, 53, 26),
    rgb(0, 235, 235)
  );
}
