.container {
  display: grid;
  grid-template-columns: 100px 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 300px;
  gap: 10px;
}
.item1 {
  border-radius: 20px;
  background-color: rgb(255, 53, 26);
}
.item2 {
  border-radius: 20px;
  background-color: rgb(0, 235, 235);
}
.item3 {
  border-radius: 20px;
  background-color: rgb(255, 53, 26);
}
.item4 {
  border-radius: 20px;
  background-color: rgb(0, 235, 235);
}
.item5 {
  border-radius: 20px;
  grid-column-start: span 2;
  background-color: rgb(255, 53, 26);
}
