@font-face {
  font-family: variable-font;
  src: url("./../../resource/FiraCode-VF.ttf");
}

.variable-font-normal {
  font-family: variable-font;
  font-size: 20px;
}

.font-variation-settings {
  font-variation-settings: "wght" 750;
}
