.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.scroll {
  height: 100%;
  width: 100%;
}

.title {
  font-size: 58rpx;
  font-weight: 500;
  padding: 10rpx;
  color: #0095ff;
  color: linear-gradient(120deg, #0095ff 30%, #42d392);
}

.content {
  margin-left: 15px;
  margin-right: 15px;
  background-color: gainsboro;
}

.hight-light-content {
  margin-left: 15px;
  margin-right: 15px;
  font-weight: bold;
  background-color: rgb(216, 228, 243);
}
