@font-face {
  font-family: variable-font;
  src: url("./../../resource/FiraCode-VF.ttf");
}

.variable-font-normal {
  font-family: variable-font;
  font-variation-settings: "wght" 400;
  font-size: 16px;
}

.font-optical-sizing {
  font-optical-sizing: auto;
}
