.caption-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  color: #f8f8f8;
}

.caption-subtitle {
  margin-top: 2px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #b3b3b3;
}

.caption-footnote {
  margin-top: 4px;
  font-size: 11px;
  line-height: 14px;
  color: #4f4f4f;
}
