.container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  overflow: visible;
}
.title {
  font-size: 60rpx;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: linear-gradient(to right, rgb(255, 53, 26), rgb(0, 235, 235));
}
.item {
  flex-shrink: 0;
  width: 40%;
  margin: 5px;
  height: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: rgb(255, 53, 26);
  align-items: center;
  justify-content: center;
}
.text {
  color: white;
  font-size: 40rpx;
  font-weight: bold;
}
