.root {
  height: 100%;
}

.fixed_area {
  height: 480px;
  flex-direction: column;
}

.item {
  width: 100%;
  border-color: red;
  border-width: 1px;
  border-style: solid;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}
