.root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  font-size: 80rpx;
  margin-bottom: 32rpx;
}

.btn {
  background-color: #ff624d;
  border-radius: 16rpx;
  padding: 24rpx;
  color: #fff;
}
