text {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.box {
  border: 2px rgb(255, 53, 26);
  margin: 5px;
  padding: 5px;
  background: radial-gradient(
    circle at top left,
    rgb(255, 53, 26),
    rgb(0, 235, 235)
  );
}
