.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 58rpx;
  font-weight: 500;
  padding: 10rpx;
  color: #0095ff;
  color: linear-gradient(120deg, #0095ff 30%, #42d392);
}
