.root {
  height: 100%;
}

.fixed_area {
  height: 480px;
  flex-direction: column;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.relative_image {
  width: 100px;
  height: 100px;
}
