name: CI

on:
  pull_request:
    branches:
      - main
env:
  CI: 1

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: lynx-ubuntu-24.04-xlarge
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: "22"
      - name: Install
        run: |
          npm i -g corepack@latest
          corepack enable
          pnpm install
      - name: Lint
        env:
          CHANGESET_BASE_SHA: ${{ github.event.pull_request.base.sha }}
        run: |
          pnpm dprint check
          pnpm changeset status --verbose --since $CHANGESET_BASE_SHA
      - name: Build
        env:
          TURBO_SCM_BASE: ${{ github.event.pull_request.base.sha }}
        run: pnpm turbo run build --affected
