name: CI

on:
  pull_request:
    branches:
      - main
env:
  CI: 1

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: lynx-ubuntu-24.04-xlarge
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: "22"
      - name: Install
        run: |
          npm i -g corepack@latest
          corepack enable
          pnpm install
      - name: Lint
        env:
          CHANGESET_BASE_SHA: ${{ github.event.pull_request.base.sha }}
        run: |
          pnpm meta-updater --test
          pnpm dprint check
          pnpm changeset status --verbose --since $CHANGESET_BASE_SHA
      - name: Build
        env:
          TURBO_SCM_BASE: ${{ github.event.pull_request.base.sha }}
        run: pnpm turbo run build --affected
