name: CI

on:
  pull_request:
    branches:
      - main
env:
  CI: 1

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: lynx-ubuntu-24.04-xlarge
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: "22"
      - name: Install
        run: |
          npm i -g corepack@latest
          corepack enable
          pnpm install
      - name: Lint
        env:
          CHANGESET_BASE_SHA: ${{ github.event.pull_request.base.sha }}
        run: |
          pnpm meta-updater --test
          pnpm dprint check
          pnpm changeset status --verbose --since $CHANGESET_BASE_SHA
      - name: Build
        env:
          TURBO_SCM_BASE: ${{ github.event.pull_request.base.sha }}
        run: pnpm turbo run build --affected
